html
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-COMPATIBLE",content="IE-edge,chrome=1")
        meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
        meta(name="format-detection",content="telephone=no")
        meta(name="keyword",content="express-spider")
        title #{title}
        link(href="/img/base/favicon.ico",rel="icon",type="image/x-icon")
        link(href="/css/materialize.min.css",rel="stylesheet") 
        link(href="/css/base.css",rel="stylesheet")
        link(href="/css/header.css",rel="stylesheet")               
        script(src="/js/jquery.min.js")
        script(src="/js/angular.min.js")
        script(src="/js/materialize.min.js")
        script(src="/js/socket.io.js")
        script(src="/js/util.js")
        if css 
          link(href="/css/"+css,rel="stylesheet")
        if headjs
          script(src="/js/"+headjs)
    body
        block content
